{# Responsive Bootstrap navbar with collapsible menu (Nunjucks-safe) #}
{% set navId = 'nav-' ~ (block._key or 'header') %}

<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">{{ block.title or 'Site' }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#{{ navId }}" aria-controls="{{ navId }}" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="{{ navId }}">
      {% if block.navItems and (block.navItems | length) > 0 %}
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {% for item in block.navItems %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  
</nav>
